
html, body, :global(#root) {
  height: 100%;
}

.main {
	height: 100%;
}
.menu_trigger_box_trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.menu_trigger_box_trigger:hover {
  color: #1890ff;
}
.ostro_picWall .ant-upload-list-item-info:before {
  left: 0px;
}
/*.menu_trigger_box .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}*/

.menu_trigger_box {

}